body {
    background-color:lemonchiffon;
    color:midnightblue;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    line-height: 1.5em;
    padding: 4%;
}
table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}